<div class="row mx-0 justify-content-start">

  <ul class="nav nav-tabs mb-2">
    <li class="nav-item">
      <a class="nav-link" href="#">最近</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">每週</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">每月</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">範圍查詢</a>
    </li>
  </ul>

 
  <table class="table table-striped mt-0 mb-1">
    <thead>
      <tr>
        <th scope="col">總額</th>
        <th scope="col">Top-1</th>
        <th scope="col">Top-2</th>
        <th scope="col">Top-3</th>
        <th scope="col">Top-4</th>
        <th scope="col">Top-5</th>
      </tr>
    </thead>
  
    <tbody>
    {{#each sortResult}}
      <tr>
        <td scope="row" class="p-0" colspan=6>{{moment this.startDate}} ~ {{moment this.endDate}}</td>
      </tr>
      <tr>
        <td valign="middle">{{this.price}}</td>
      {{#each this.category}}
        <td>{{this.name}}: {{this.price}}<br>({{this.percentage}}%)</td>
      {{/each}}
      </tr>
    {{/each}}
    </tbody>
 
  </table>
  
</div>